body{
    text-align: center;
    align-items: center;
    background-color: rgba(195, 227, 238, 0.336);
}
.form-group{
    text-align: center;

    
    
}
.logout
{display: block;
    float: left;
   color: white;
   text-decoration: underline;
   font-weight: bold;
}
.btn{
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.75rem;
}
h1{
    text-align: center;
 
}
form{
    font-size: 2rem;
    text-align: center;
}
.form-control{
    margin-left: 25%;
}

@media only screen and (max-width: 1200px) {
    .form-control{
        font-size: 2rem;
    }
    label{
        font-size: 2.5rem;
    }

}