body{
    text-align: center;
    align-items: center;
}
.form-group{
    text-align: center;

    
    
}
.logout
{display: block;
    float: left;
   color: white;
   text-decoration: underline;
   font-weight: bold;
}
h1{
    text-align: center;
 
}
form{
    font-size: 2rem;
    text-align: center;
}
.form-control{
    margin-left: 25%;
}