.logout
{display: block;
    float: left;
   color: white;
   text-decoration: underline;
   font-weight: bold;
}

body{
    background-color: rgba(195, 227, 238, 0.336);
}
.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 3rem;
   
}

.input_txt{
width: 30rem;
margin: 0 auto;
    float: none;
    margin-bottom: 3rem;
  
}
.search-Result{
    font-weight: bold;
    color: black;
    font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
    
    .card-columns{
        column-count: 2;
       
    }
  }