.logout {
    display: block;
    float: left;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

body {
    background-color: rgba(195, 227, 238, 0.336);
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 3rem;

}
.like_count{
    font-size: 1.5rem;
}
.input_txt {
    width: 30rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 3rem;

}

.search-Result {
    font-weight: bold;
    color: black;
    font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
    .like_count{
        font-size: 3rem;
    }
    nav {
        font-size: 2rem;
    }
    h4{
        font-size: 2.25rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .dropdown-item{
        font-size: 2rem;
    }
    .card-text{
        font-size: 1.75rem;
    }
    .card-title{
        font-size: 2rem;
    }
    .card-columns {
        column-count: 2;

    }
    .alert{
        font-size: 1.5rem;
    }
    .btn {
        font-size: 2rem;
    }
    form{font-size: 2rem;
    }
    .form-control{
        font-size: 2.5rem;
    }
    .font-weight-bold{
        font-size: 3rem;
    }
}