{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
 {% block content %}
 <link rel = "stylesheet" type="text/css" href="/static/style.css">

 <form class="text-center" action="/home"  method="post" class="form">
   <button type="submit" name= "submit_button" id="logout" value="logout" class="btn btn-primary text-left">Logout</button>
   <h1>Welcome, {{username}}</h1>
 <div class="input_txt">
    <input type="text" class="form-control text-center mt-3" id="fishName" name="fish" aria-describedby="Username" placeholder="Enter Fish">
    <input type="text" class="form-control  text-center mt-3" id="date" name="date" aria-describedby="Username" placeholder="Enter Date">
    <input type="text" class="form-control  text-center mt-3 mb-3" id="weight" name="weight" aria-describedby="Username" placeholder="Enter weight">
    <button type="submit" name="submit_button" value="submit" class="btn btn-primary">Submit</button>
</div>
 </form>
 <br><br>
<div class="text-center logs card-columns">
   {% for fish in fishList%}
   <div class="card m-5 shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{fish.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Date: {{fish.date}}</h6>
    <p class="card-text">Weight: {{fish.weight}}</p>
  </div>
</div>
 {% endfor %}
 {% endblock %}

</div>

