{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
 {% block content %}
 <link rel = "stylesheet" type="text/css" href="/static/style.css">


 <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Fish Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        
        </li>
      </ul>
    </div>
    <a class="nav-lin logout"  href="/logout">Logout</a>
  </nav>

  <h1 class="text-center">Welcome, {{username}}</h1>
  
  <form class="text-center items-center" action="/home"  method="post" class="form">
    
    


   
  <div class="input_txt">
    

      <input class="mt-5" type="file" id="formFile" name="image" >
        <small><p>Choose an image file</p></small>
      <input type="text" class="form-control text-center mt-3 " id="fishName" name="fish" aria-describedby="Username" placeholder="Enter Fish">
      <input type="text" class="form-control  text-center mt-3" id="date" name="date" aria-describedby="Username" placeholder="Enter Date">
      <input type="text" class="form-control  text-center mt-3 mb-3" id="weight" name="weight" aria-describedby="Username" placeholder="Enter weight">
      <button type="submit" name="submit_button" value="submit" class="btn btn-success shadow">add entry</button>
    <br><br>
      <p class="font-weight-bold">User Search</p>
      <input type="text" class=" text-center mt-1 " id="user" name="user" aria-describedby="Username" placeholder="Username">
      <br>
      <button type="submit" name="submit_button" value="find_user" class="btn btn-primary shadow mt-3">View User's Log</button>

  </div>
  </form>
  {% for mesg in get_flashed_messages() %}
  <h3 class="text-secondary text-center font-weight-bold ">{{ mesg }}</h3>
  {% endfor %}
  <br><br>
 
  <h3 class="text-center font-weight-bold">You have {{numFish}} fish logged</h3>
  <div class="text-center logs card-columns">
    {% for fish in fishList%}
    <div class="card m-5 shadow" style="width: 18rem;">
    <h5 class="card-title">{{fish.name}}</h5>
    <img class="card-img-top" src="static\images\bass.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Date: {{fish.date}}</h6>
      <p class="card-text">Weight: {{fish.weight}}</p>
      <a href={{url_for('delete',id=fish.id)}} class="btn btn-danger">Delete</a>
    </div>
  </div>
  {% endfor %}
  {% endblock %}

  </div>
</body>

