{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
 {% block content %}
 <link rel = "stylesheet" type="text/css" href="/static/style.css">

 <form class="text-center" action="/home"  method="post" class="form">
   <button type="submit" name= "submit_button" id="logout" value="logout" class="btn btn-primary text-left">Logout</button>
   <h1>Welcome, {{username}}</h1>
  
    <input type="text" class="form-control w-50 text-center" id="fishName" name="fish" aria-describedby="Username" placeholder="Enter Fish">
    <button type="submit" name="submit_button" value="submit" class="btn btn-primary">Submit</button>
 
 </form>
 <br><br>
<div class="text-center logs">
   {% for fish in fishList%}
   <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{fish.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{fish.date}}</h6>
    <p class="card-text">{{fish.weight}}</p>
  </div>
</div>
 {% endfor %}
 {% endblock %}

</div>

