{% extends "base.html" %}

{% block title %}
{{user}}'s Log
{% endblock %}
 {% block content %}
 <link rel = "stylesheet" type="text/css" href="/static/style.css">

 <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Fish Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">{{user}}'s Log</a>
        </li>
        
      </ul>
    </div>
    <a class="nav-link logout" href="/logout">Logout</a>
  </nav>



   <h1 class="text-center">{{user}}'s log</h1>

 {% for mesg in get_flashed_messages() %}
 <h3 class="text-primary text-center ">{{ mesg }}</h3>
 {% endfor %}
 <br><br>
 <h3 class="text-center font-weight-bold">{{numFish}} fish logged</h3>
<div class="text-center logs card-columns">
   {% for fish in fishList%}
   <div class="card m-5 shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{fish.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Date: {{fish.date}}</h6>
    <p class="card-text">Weight: {{fish.weight}}</p>
  </div>
</div>
 {% endfor %}
 {% endblock %}

</div>

